.tabsContainer ul.nav-tabs li {
    padding: 0px 50px;
}
.tabsContainer ul.nav-tabs li.active {
    border-width: 1px;
    border-style: solid;
    border-color: #b7b7b7;
    border-radius: 4px 4px 0px 0px;
    border-bottom-color: white;
    position: relative;
}
.tabsContainer>ul.nav-tabs>li.active::after{
    content: '';
    width: 100%;
    height: 3px;
    position:absolute;
    background:white;
    bottom: 0%;
    left: 0%;
    transform: translateY(3px);
    z-index: 1;

}
.tabsContainer ul.nav-tabs {
    border-width: 0px 0px 1px 0px;
    border-color: #b7b7b7;
    border-style: solid;
    box-sizing: border-box;
    position: fix;
    top: 0%;
    left: 0%;
}
.content-home {
    padding-right:10px;
}
.tabsContainer ul li a {
    text-decoration: none;
    margin-top: 3px;
    padding-bottom: 8px;
}
.tabsContainer {
    margin-left: 3px;
    margin-right: 5px;
    width: 100%;
    height: 100%;
}
.tab-content {
    height: 100%;
    overflow:scroll;
}

@media(max-width: 480px){
    .tabsContainer ul li a{
        font-size: 10px;
    }
    .tabsContainer {
        margin-top: 0px !important;
        padding-left: 15px;
    }
    .content-home {
        padding-right: 0px;
    }
    h4.m-header-poster {
        margin: 5px 0px;
        font-size: 14px;
    }
    
    .m-text-description-poster {
        font-size: 12px;
    }
    
    .m-price-poster {
        font-size: 14px;
        font-weight: bold;
        margin-left: 10px;
    }
    .expanded .leftNav ul li a span.navLabel{
        font-size: 15px;
    }
    .tabsContainer ul.nav-tabs li {
<<<<<<< HEAD
        padding: 0px 50px;
=======
        padding: 0px 35px;
>>>>>>> them blog
    }
}
.row {
    margin-right: -9px;
}
.m-poster {
    width: 100%;
    border-bottom: 1px solid #a7a4a4;
    margin: auto;
    margin-bottom: 6px;
    /* border-radius: 3px; */
    /* box-shadow: 0px 0px 3px 0px #a7a4a4; */
}

.col-md-3.img-poster {
    height: 100%;
    justify-content: center;
}
.col-md-3.img-poster img {
    vertical-align: middle;
}

.m-header-poster {
    text-align: left;
    font-weight: bold;
    color: #000000;
    text-overflow: ellipsis;
    margin: 0;
}

.m-text-description-poster {
    text-align: left;
    /* text-indent: 10px; */
    margin: 15px 0 10px;
}

.m-price-poster {
    text-align: left;
    font-size: 16px;
    width: 40%;
    float: left;
    color: #c81010;
    font-weight: bold;
}

/* .m-price-poster::before {
    content: 'Price: ';
    font-weight: bold;
    color: #17a730;
    margin-left: 0px;
} */

.m-price-poster::after {
    content: 'đ';
    font-size: 60%;
    vertical-align: top;
}

.area-poster{
    float: left;
}

/* .col-md-8.description-poster {
    margin-left: 10px;
} */

img {
    width: 100%;
    margin: auto
}
.pagination-active {
    background: #17a730;
}
button.modal-box-up {
    background: none;
    border: none;
}

@media (min-width: 768px){
    .modal-dialog {
        width: 70%;
    }
}

.detail-info-poster{
    width: 100%;
    text-align: left;
    /* overflow-y: scroll; */
}

.fixed-modal{
    /* position: fixed; */
    /* left: 0;
    right: 0; */
    margin-top: 0;
}

.fade {
    opacity: 1;
}